@import "~SassConstants";

a {
  text-decoration: none;
  font-size: 14px;
  color: $smoke;
  opacity: 0.8;

  &.red {
    color: $fire;

    &:before {
      color: $smoke;
      content: "From ";
    }
  }

  &.dashed {

    &:before {
      color: $smoke;
      content: "\2014 \2009";
    }
  }
}
