@import "~SassConstants";

.testing {
  display: block;
  margin: auto;

  @media (max-width: 800px) {
    width: 250px;
  }

  @media (min-width: 801px) {
    width: 500px;
  }

  .heading {
    display: block;
    font-size: 16px;
    line-height: 1.5;
    text-align: left;
    margin: 0 auto 20px auto;
  }

  .libary {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;

    img {
      height: 120px;
      border-radius: 50%;
      cursor: pointer;
    }

    .info {
      text-align: left;
      padding: 10px;

      .name {
        font-size: 18px;
        color: $fire;
        margin-bottom: 8px;
      }

      .description {
        max-width: 250px;
        font-size: 14px;
        margin-bottom: 5px;
      }

      &:last-child {
        margin-bottom: 0;
      }

      &:visited {
        color: $smoke;
      }
    }
  }

  .border {
    max-width: 200px;
    height: 1px;
    background: $smoke;
    background: -webkit-gradient(
      linear,
      0 0,
      100% 0,
      from($white),
      to($white),
      color-stop(50%, $smoke)
    );
    margin: 25px auto;
  }
}
