@import "~SassConstants";

.main {
  padding: 30px;
  text-align: center;

  .heading {
    font-size: 28px;
    color: $smoke;
    margin-bottom: 20px;
  }

  .sub-heading {
    font-size: 18px;
    color: $smoke;
    margin-bottom: 20px;

    span {
      color: inherit;
      text-decoration: underline;
      cursor: pointer;
    }
  }

  .topics {
    display: block;
    margin: auto;

    img {
      width: 120px;
    }
  }
}
