@import "~SassConstants";

.linting {
  display: block;
  margin: auto;

  @media (max-width: 800px) {
    width: 250px;
  }

  @media (min-width: 801px) {
    width: 500px;
  }

  p {
    line-height: 1.2;
  }

  .blockquote {
    font-size: 16px;
    font-style: italic;
    line-height: 1.45;
    position: relative;
    text-align: left;

    @media (max-width: 800px) {
      width: 250px;
      padding: 5px 25px;
    }

    @media (min-width: 801px) {
      width: 500px;
      padding: 5px 40px;
    }

    &:before {
      font-family: Georgia, serif;
      display: block;
      padding-left: 10px;
      content: "\201C";
      font-size: 80px;
      position: absolute;
      left: -20px;
      top: -20px;
      color: $mist;
    }

    // &:after {
    //   font-family: Georgia, sans-serif;
    //   display: block;
    //   content: "\201D";
    //   font-size: 80px;
    //   position: absolute;
    //   right: 0;
    //   color: $mist;
    //   margin-top: -60px;
    // }

    .citation {
      display: block;
      font-size: 16px;
      margin-top: 5px;
    }
  }
}
